.footer-link {
  color: #000066;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}


.vada-pav-link {
  color: #000066;
  text-decoration: none;
}

.vada-pav-link:hover {
  color: #66bFBF;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 94%;
}

.bottom-cloud {
  position: absolute;
  right: 70%;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.contact{
  margin: 40px auto 60px;
  width: 40%;
  line-height: 1.8
}
.copyright{
  color:  #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}

h1 {
  color: #66bFBF;
  font-size: 5.625rem;
  /*16px=100%=1em */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
}

h2 {
  color: #66bFBF;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 2.5rem;
  color: #11999E;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted #99ffcc 7px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.intro {
  width: 20%;
  margin: auto ;
  text-align: left;
  line-height: 1.8
}

.middle-container{
  margin: 100px 0;
}

.skill-row {
  margin: 80px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 1.8;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  width: 28%;
  float: right;
  margin-right: 30px;
}

.top-cloud {
  position: absolute;
  left: 70%;
  top: 14%;
}

.top-container {
  background-color: #d9faff;
  position: relative;
  padding-top: 9%;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -moz-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -ms-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -o-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -webkit-gradient(to bottom, #11CDD4, #1199E9);
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Arial;
   width: 181px;
   font-size: 27px;
   font-weight: 100;
   padding: 27px;
   -webkit-box-shadow: 4px 3px 6px 0 #000000;
   -moz-box-shadow: 4px 3px 6px 0 #000000;
   box-shadow: 4px 3px 6px 0 #000000;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BCA4D);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BCA4D);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BCA4D);
   background-image: -o-linear-gradient(top, #30E3CB, #2BCA4D);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BCA4D);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-decoration: none;
}
